// reset woocommerce code
.woocommerce div.product {
    div.summary {
        float: initial;
        width: 100%;
    }

    div.images {
        float: initial;
        width: 100%;
    }
    .star-rating {
        float: left;
    }
}


.l4-product__right {
    position: sticky;
    top: 8rem;
    &-header {
        display: flex;
        justify-content: space-between;
    }
    &-title {

    }
}