$woocommerce: $color--primary;
$green: #7ad03a;
$red: #a00;
$orange: #ffba00;
$blue: #2ea2cc;

$primary: $color--primary;
$primarytext: desaturate(lighten($primary, 50%), 18%); // Text on primary color bg

$secondary: desaturate(lighten($primary, 40%), 21%); // Secondary buttons
$secondarytext: desaturate(darken($secondary, 60%), 21%); // Text on secondary color bg

$highlight: gray; // Prices, In stock labels, sales flash
$highlightext: desaturate(lighten($highlight, 50%), 18%); // Text on highlight color bg

$contentbg: #fff; // Content BG - Tabs (active state)
$subtext: #767676; // small, breadcrumbs etc

// Get the raw woocommerce styling and use variables above to overwrite defaults
@import "../../../../../../plugins/woocommerce/legacy/css/woocommerce.scss";

// Fonts from woocommerce wont load correctly from woocommerce.scss
// these paths have to be from the generated style.css point of view
@font-face {
    font-family: 'star';
    src: url("../../plugins/woocommerce/assets/fonts/star.eot");
    src: url("../../plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype"),
    url("../../plugins/woocommerce/assets/fonts/star.woff") format('woff'),
    url("../../plugins/woocommerce/assets/fonts/star.ttf") format('truetype'),
    url("../../plugins/woocommerce/assets/fonts/star.svg#star") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WooCommerce';
    src: url('../../plugins/woocommerce/assets/fonts/WooCommerce.eot');
    src: url('../../plugins/woocommerce/assets/fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
    url('../../plugins/woocommerce/assets/fonts/WooCommerce.woff') format('woff'),
    url('../../plugins/woocommerce/assets/fonts/WooCommerce.ttf') format('truetype'),
    url('../../plugins/woocommerce/assets/fonts/WooCommerce.svg#WooCommerce') format('svg');
    font-weight: normal;
    font-style: normal;
}
