.cb-dynamic-content + .cb-dynamic-content {
}

%icon-play--shadow {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(#000, 0.5);
}

.cb-dynamic-content {
    &__image,
    &__video .glightbox,
    &__video iframe {
        min-height: 50rem;
    }

    &__video {
        position: relative;
        .glightbox {
            display: block;
        }
        .icon-play {
            @extend %icon-play--shadow;
            right: 50%;
            margin-right: -6rem;
        }
    }

    .o-layout__item {
        @include respond-below(tablet) {
            margin-bottom: $spacer;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__first-column--image {
        @include respond-below(tablet) {
            .o-layout {
                .o-layout__item {
                    order: 1;
                    margin-bottom: $spacer;
                }

                div:first-child {
                    margin-bottom: 0;
                    order: 4 !important;
                }
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        min-height: 20rem;

        @include respond-below(tablet) {
            min-height: auto;
            max-height: 40rem;

            &.m-image-behaviour--contain {
                max-height: none;
            }
        }

        img {
            @include respond-below(tablet) {
                position: static;
            }
        }

        &-behaviour {
            &--contain {
                img {
                    object-fit: contain;
                    object-position: top !important;
                    background-color: transparent;
                }
            }
        }
    }
}
