$color-twitter: #00aced;
$color-facebook: #3B5997;
$color-googleplus: #D64937;
$color-buffer: #444;
$color-whatsapp: #00c238;
$color-pintrest: #bd081c;
$color-linkedin: #0074A1;

.crunchify {
    margin: 1rem 0;
    -webkit-font-smoothing: antialiased;

    ul {
        @extend %list-reset;
        padding: 0 !important;
    }

    li {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    &-header {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: $blue;
    }

    &-link {
        display: flex;
        align-items: center;
        padding: 1rem;
        color: #fff !important;
        border-radius: 2px;
        cursor: pointer;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2);
        margin-top: 2px;
        text-decoration: none !important;
        transition: box-shadow 0.2s ease;

        &:hover {
            box-shadow: inset 0 -100px 0 rgba(0, 0, 0, .2);
        }

        i {
            font-size: 1.5rem;
        }

        span {
            display: none;
            font-size: 1.2rem;
            margin-left: 5px;
        }
    }
}

.crunchify-twitter {
    background: $color-twitter;
}

.crunchify-facebook {
    background: $color-facebook;
}

.crunchify-googleplus {
    background: $color-googleplus;
}

.crunchify-whatsapp {
    background: $color-whatsapp;
}

.crunchify-pinterest {
    background: $color-pintrest;
}

.crunchify-linkedin {
    background: $color-linkedin;
}
