.video-embed {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: silver;
  cursor: pointer; // trigger iOS onclick fix

  @include icon($icon-play) {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 6rem;
    text-shadow: 1px 1px 3px rgba(#000, 0.5);
  }

  &__title {
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: 1rem;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(#000, 0.5);
  }

  img {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  &.is-playing {
    background: transparent;
    &:before,
    img,
    .video-embed__title {
      display: none;
    }
  }

  &__video-container {
    width: 100%;
    height: 100%;

    .is-loading & {
        display: none;
    }
  }
}
