@use "sass:math";

$vw-viewport: 1980; // based on full width of design
// Get View Width
// Calculate px to vw
@function get-vw($font) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return math.div($font, $vw-context) * 1vw;
}

// Get View Width with Fallback
// Calculate px to vw but will not go smaller than the fallback
// $font in px
// $fallback in rem/px
@function get-vw-wf($font, $fallback) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return unquote("max(#{math.div($font, $vw-context) * 1vw},#{$fallback})");
}

// Dynamically resize fonts by screen-width
// https://web-development.space/tools/px-to-vw
//%font-size--12 {
//    font-size: unquote("max(#{get-vw(12px)},1.2rem)");
//}
//
//%font-size--140 {
//    font-size: get-vw-wf(140px, 4.8rem);
//}


/**
 * Remove the unit of a length
 * @param {Number} $number - Number to remove unit from
 * @return {Number} - Unitless number
 */
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

/**
 * Convert rem to px
 */
@function remToPix($rem) {
    $number: strip-unit($rem) * 10;
    @return #{$number}px;
}

/**
 * Encode hex color code to base64 string
 */
@function encodecolor($string) {
    @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
        $hex: str-slice(ie-hex-str($string), 4);
        $string: unquote('#{$hex}');

        @return '%23' + $string;
    }

    @return $string;
}
