@use "sass:map";
@use "sass:string";
@use "../a-settings/variables" as *;

/*
USAGE:
@include respond-between(mobile, tablet) {}
@include respond-above(mobile) {}
@include respond-above(428px) {}
@include respond-below(tablet) {}
@include respond-below(428px) {}
*/

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// Respond above.
@mixin respond-above($breakpoint) {
    // If the breakpoint exists in the map.
    @if map.has-key($grid-breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map-get($grid-breakpoints, $breakpoint);
        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }
        // If the breakpoint doesn't exist in the map.
    } @else {
        // Expect custom width in rem or px
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}

// Respond below.
@mixin respond-below($breakpoint) {
    // If the breakpoint exists in the map.
    @if map.has-key($grid-breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map-get($grid-breakpoints, $breakpoint);
        // Write the media query.
        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }
        // If the breakpoint doesn't exist in the map.
    } @else {
        // Expect custom width in rem or px
        @media (max-width: $breakpoint) {
            @content;
        }
    }
}

// Respond between.
@mixin respond-between($lower, $upper) {
    // If both the lower and upper breakpoints exist in the map.
    @if map.has-key($grid-breakpoints, $lower) and map-has-key($grid-breakpoints, $upper) {
        // Get the lower and upper breakpoints.
        $lower-breakpoint: map-get($grid-breakpoints, $lower);
        $upper-breakpoint: map-get($grid-breakpoints, $upper);
        // Write the media query.
        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
            @content;
        }
        // If one or both of the breakpoints don't exist.
    } @else {
        $lower-breakpoint: map-get($grid-breakpoints, $lower);
        $upper-breakpoint: map-get($grid-breakpoints, $upper);
        // If lower breakpoint is invalid.
        @if (map.has-key($grid-breakpoints, $lower) == false) {
            // Expect custom width in rem or px
            @media (min-width: $lower-breakpoint) and (max-width: $upper) {
                @content;
            }
        }
        // If upper breakpoint is invalid.
        @if (map.has-key($grid-breakpoints, $upper) == false) {
            // Expect custom width in rem or px
            @media (min-width: $lower) and (max-width: $upper-breakpoint) {
                @content;
            }
        }
        // If both breakpoints are invalid.
        @if (map.has-key($grid-breakpoints, $lower) == false) and (map-has-key($grid-breakpoints, $upper) == false) {
            // Expect custom width in rem or px
            @media (min-width: $lower) and (max-width: $upper) {
                @content;
            }
        }
    }
}


/**
 * Font Awesome
 *
 * Add Font Awesome Kit script to header and start the magic
 * Ask Eric to create a project for you to use (for this to work settings must be Technology: web-font, not svg)
 * Then look for the icons you want to use and add them here as variables
 * https://fontawesome.com/icons?s=light
 *
 * Font Awesome Pro variations to use/add
 * font-weight: 300; // Light
 * font-weight: 400; // Regular
 * font-weight: 600; // Bold
 * font-weight: 900; // Solids
 */
//$fa-check: '\f00c';

@mixin fa-icon($fa-icon-name) {
    &:before {
        font-family: "Font Awesome 5 Pro";
        content: $fa-icon-name;
        @content;
    }
}

/**
 * Icomoon
 *
 * Mixin for Icomoon
 * $code is variable name of the icon
 * Usage:
 * .class {
 *   @include icon($icon-arrow) {
 *     margin-top: 5px
 *   }
 * }
 *
 * Enable @import in style.scss
 */
@mixin icon($code: default) {
    &:before {
        font-family: '#{$icomoon-font-family}' !important;
        content: string.unquote($code);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        color: inherit;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @content;
    }
}
