@use "sass:color";
@use "../a-settings/variables" as *;
@use "../c-critical/icons/variables" as *;
@use "../b-tools/mixins" as *;

%button {
    background: $color--primary;
    font-family: $font-family--secondary;
    font-size: 1.6rem;
    min-height: 5.5rem;
    min-width: 20rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: $radius_default;
    color: #fff;
    line-height: 1;
    padding: 0 2rem;
    transition: all 0.2s ease;
    text-decoration: none;

    &:hover {
        background-color: color.adjust($color--primary, $lightness: -15%) !important;
        color: #fff !important;
    }
}


%button--outline {
    @extend %button;
    background: transparent;
    color: $text__color;
    border: 1px solid $color--primary;

    .cb-bg-color--none .cb__content__buttons &,
    .cb-bg-color--white .cb__content__buttons & {
        border-color: $text__color;
    }
}

%button--link {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: $font-family--secondary;
    color: $color--secondary;
    padding-right: 2rem;
    text-decoration: none;
    background-color: transparent;
    border: none;

    @include icon($icon-arrow-right) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &:after {
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        content: "";
        width: calc(100% - 2rem);
        height: 1px;
        background: $color--secondary;
        transition: opacity 0.2s ease;
        opacity: 0;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }
}

%text-shadow {
    color: #fff;
    text-shadow: 4px 4px 6px rgba(#000, 0.5);
}

%content-width {
    margin: 0 auto;
    width: 100%;
    max-width: calc(#{$content_max-width} + #{$gutter});
    padding: 0 $gutter-half;
}

%list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

%list-horizontal {
    display: flex;

    li {
        margin-right: $gutter-half;

        &:last-child {
            margin-right: 0;
        }
    }
}

%invisible-scrollbar {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

%link-layover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

%hidden-visually {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%image-as-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
