@use "../b-tools/global" as *;

.page-footer {
    margin-top: auto; // Push footer always to the bottom of the page
    background: $color--primary;
    color: #fff;
    padding: $cb-spacer 0 2rem;

    h2, h3, h4, h5, h6 {
        color: inherit;
    }

    h3 {
        margin-bottom: 1rem;
    }

    p {
        line-height: 1.5;
    }

    &-inner {
        @extend %content-width;
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        @extend %list-reset;
    }

    li {
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
    }


    &__column {
        @include respond-below(tablet) {
            margin-bottom: $cb-spacer !important;
        }
        &-title {
            margin-bottom: $gutter;
            font-size: var(--font-size--l);
        }
    }
}
