@use "../b-tools/global" as *;

#fixed-header-trigger {
    width: 100%;
    height: $fixed-header__height;
}


.woocommerce-page .page-main,
.blog .page-main,
.error404 .page-main,
.search-results .page-main,
.page__single-content {
    @extend %content-width;
    padding: $cb-spacer 0;
}
.search-results {
    article {
        margin: $gutter 0;
    }
}

.search {
    .search-form {
        margin-bottom: 6rem;

        &__text {
            font-size: 3rem;

            span {
                font-weight: bold;
                color: gray;
            }
        }
    }
}
