@use "../../b-tools/global" as *;

.cb-cta {
    &-item {
        background: #eee;
        padding-top: 100%;
        height: 0;
        position: relative;
        margin-bottom: $gutter;
        transform: scale(1);
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        &__title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            text-align: center;
            padding: 0 1rem;
            align-items: center;
            justify-content: center;
            font-size: var(--font-size--xxl);
            color: #fff;
        }
    }
}
