@use "../../b-tools/global" as *;


.cb-text-and-image {
    &__title {
        margin-bottom: $gutter;
    }

    .m-image-position--left {
        .o-layout__item:first-child {
            order: 2;
        }
    }

    @include respond-below(tablet) {
        .o-layout__item:first-child {
            order: 2;
        }
    }
}
