.anim-fadein {
	opacity: 0;
	// add a transition to the opacity properties
	transition: opacity 0.2s cubic-bezier(0.79, 0, 0.58, 0.95);
	&.animate {
		opacity: 1;
	}
}

img.swiper-lazy {
	opacity: 0;
	transition: opacity 0.2s cubic-bezier(0.79, 0, 0.58, 0.95);
	&.swiper-lazy-loaded {
		opacity: 1;
	}
}
