@use "sass:meta";
@use "../../b-tools/global" as *;

/* ==========================================================================
 # FLEX LAYOUT
========================================================================== */
/**
 * Core grid component
 *
 * DO NOT apply dimension or offset utilities to the `grid` element. All cell
 * widths and offsets should be applied to child grid cells.
 */

/* grid container
   ========================================================================== */

/**
 * All content must be contained within child elements.
 *
 */
@mixin grid($breakpoint: null) {
    .o-layout#{$breakpoint} {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;

        .o-container &,
        .o-layout#{$breakpoint} & {
            width: calc(100% + #{$gutter});
            margin: 0 calc(#{$gutter-half} * -1);
        }
    }

    /**
    * No explicit width by default. Rely on combining a cell with a dimension
    * utility or a component class that extends 'grid'.
    */
    .o-layout#{$breakpoint} > .o-layout__item {
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: 1px;
        padding: 0 $gutter-half;

        flex-basis: 0;
        flex-grow: 1;

        //@include respond-below(tablet) {
        //  margin-bottom: $gutter;
        //  &:last-child {
        //    margin-bottom: 0;
        //  }
        //}
    }
}

@include grid();

/**
 * If we’re using Sass-MQ, automatically generate grid system(s) for each of our
 * defined breakpoints, and give them a Responsive Suffix, e.g.:
 *
 * <div class="o-layout@mobile">
 */
@each $name,
$value in $grid-auto-breakpoints {
    @include respond-above($name) {
        @include grid(\@#{$name});
    }
}

/**
 * Modifiers
 */
// all cells match height of tallest cell in a row
.m-layout--equal-height > * {
    display: flex;
}

// Center align items
.m-layout--align-middle {
    align-items: center;
}

// Center align items
.m-layout--align-space-between {
    justify-content: space-between;
}

.m-layout--without-gutter {
    margin: 0 !important;
    width: 100% !important;
}

.m-layout--justify-center {
    justify-content: center;
}

.m-layout--without-gutter > .o-layout__item {
    padding: 0;
}

.m-layout--reverse {
    flex-direction: row-reverse;
}

// fit cells to their content
.m-layout--fit > .o-layout__item {
    width: auto !important;
    max-width: none !important;

    flex: 0 0 auto !important;
}

