html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    height: auto;
    max-width: 100%;
}

embed,
iframe,
object {
    max-width: 100%;
}

address {
    font-style: normal;
}

nav {
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }
}

.hide, .hidden {
    display: none !important;
}
