@use "sass:math";
@use "../../b-tools/global" as *;

/**
 * Specify the proportional width of an object.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 12 parts
 *
 * 1. Use `flex-basis: auto` with a width to avoid box-sizing bug in IE10/11
 * http://git.io/vllMD
 */
*[class^='u-size'],
*[class*='u-size'] {
    flex-basis: auto;
}

/**
 * Create column width based on the size in the amount of columns
  */
@mixin widths($columns, $breakpoint: null) {

    // Loop through the number of columns for each d column
    @for $column from 1 through $columns {

        // Build a class in the format `.u-size-10[@<breakpoint>]`.
        .u-size-#{$column}#{$breakpoint} {
            width: math.div($column, $columns) * 100% !important;
            flex: none !important;
        }
    }

    /**
     * Make an element shrink wrap its content.
     */
    .u-size-fit#{$breakpoint} {
        width: auto !important;
        max-width: 100% !important;
        flex: none !important;
    }

    /**
      * Make an element fill the remaining space.
      *
      */
    .u-size-fill#{$breakpoint} {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    /**
      * Make an element auto fit
      *
      */
    .u-size-auto#{$breakpoint} {
        width: auto !important;
        flex: 1 !important;
    }
}

/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes take a number format (e.g. `.u-size-10) based on the total of set columns. Use these in
 * your markup:
 *
 * <div class="u-size-10">
 *
 * The following will generate widths helper classes based on the fractions
 * defined in the `$columns` list.
 */
@include widths($grid-columns);

/**
 * If we’re using Sass-MQ, automatically generate grid system(s) for each of our
 * defined breakpoints, and give them a Responsive Suffix, e.g.:
 *
 * <div class="u-size-3/12@mobile">
 */
@each $name, $value in $grid-auto-breakpoints {
    @include respond-above($name) {
        @include widths($grid-columns, \@#{$name});
    }
}

/* ==========================================================================
# PULLS AND PUSHES

  Not auto generated, only set the one you need, because how many times does this happen
========================================================================== */

@include respond-above(tablet) {
    .u-push-2\@tablet {
        margin-left: math.div(2, 12) * 100% !important;
    }

    .u-push-4\@tablet {
        margin-left: math.div(4, 12) * 100% !important;
    }
}

@include respond-above(desktop) {
    .u-push-3\@desktop {
        margin-left: math.div(3, 12) * 100% !important;
    }
}
