@use "sass:math";
@use "../../b-tools/global" as *;

.o-container {
    @extend %content-width;
}

.u-max-width {
    &--content {
        max-width: $content_max-width;
    }

    &--medium {
        max-width: calc(2 / 3 * #{$content_max-width});
    }

    &--small {
        max-width: calc(1 / 2 * #{$content_max-width});
    }
}

// Used to set an image as a background with its (<figure>) container
.u-image-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; // Reset margin if figure element is the container

    img {
        @extend %image-as-background;
    }
}

// Used to set an image with a specific ratio
.u-image-set-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: $image__ratio_default;
    margin: 0; // Reset margin if figure element is the container

    img {
        @extend %image-as-background;
    }
}

.u-image-behaviour {
    &--contain {
        figure {
            position: relative;
        }

        img {
            border-radius: $radius_default;
            position: relative;
            object-fit: contain;
            height: auto;
        }
    }
}

.u-image-height {
    &--169 {
        padding-top: 56.25%;
        height: 0;
    }

    &--43 {
        padding-top: 75%;
        height: 0;
    }

    &--third {
        min-height: calc(100vh / 3);
    }

    &--half {
        min-height: 50vh;
    }

    &--full {
        min-height: 100vh;
    }
}

.u-align {
    &--left {
        margin-left: 0;
        margin-right: auto;
    }

    &--right {
        margin-left: auto;
        margin-right: 0;
    }

    &--center {
        margin-left: auto;
        margin-right: auto;
    }
}

.u-text-align {
    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }
}

// Hide above tablet break
.u-hide-above\@tablet {
    display: block !important;
    @include respond-above(tablet) {
        display: none !important;
    }
}

// Show above tablet break
.u-show-above\@tablet {
    display: none !important;
    @include respond-above(tablet) {
        display: block !important;
    }
}

// Hide below tablet break
.u-hide-below\@tablet {
    display: block !important;
    @include respond-below(tablet) {
        display: none !important;
    }
}

// Show below tablet break
.u-show-below\@tablet {
    display: none !important;
    @include respond-below(tablet) {
        display: block !important;
    }
}

// Hide below tablet break with display inline-flex
.u-hide-below\@tablet--flex {
    display: inline-flex !important;
    @include respond-below(tablet) {
        display: none !important;
    }
}

// Show below tablet break with display inline-flex
.u-show-below\@tablet--flex {
    display: none !important;
    @include respond-below(tablet) {
        display: inline-flex !important;
    }
}

// Hide above mobile break
.u-hide-above\@mobile {
    display: block !important;
    @include respond-above(mobile) {
        display: none !important;
    }
}

// Show above mobile break
.u-show-above\@mobile {
    display: none !important;
    @include respond-above(mobile) {
        display: block !important;
    }
}

// Hide below mobile break
.u-hide-below\@mobile {
    display: block !important;
    @include respond-below(mobile) {
        display: none !important;
    }
}

// Show below mobile break
.u-show-below\@mobile {
    display: none !important;
    @include respond-below(mobile) {
        display: block !important;
    }
}

// Add spacer
.u-spacer--bottom\@tablet {
    @include respond-below(tablet) {
        margin-bottom: $gutter !important;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.u-list-reset {
    @extend %list-reset;
}

.u-list-horizontal {
    @extend %list-horizontal;
}

.u-hidden {
    visibility: hidden;
}

// Used to hide headers or other elements that should not be visible, but still be recognised for SEO
.u-hidden-visually {
    @extend %hidden-visually;
}
