@use "sass:math";

// Woocommerce button fix
.woocommerce-page main .button,
.woocommerce main .button {
    font-size: 2.5rem !important;
    min-height: $input__min-height !important;
    align-items: center;
    justify-content: center;
    background: $color--primary !important;
    border: 1px solid darken($color--primary, 10%) !important;
    color: #fff !important;
    border-radius: $radius_default !important;
    display: inline-flex !important;
    font-weight: normal !important;
    line-height: 1 !important;
    padding: 0 2rem !important;

    &:hover {
        background-color: lighten($color--primary, 10%) !important;
    }
}

.cart-contents-count {
    display: block;
    background: $color--primary;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 10px;
    border-radius: 50%;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-left: 2px;
    @include respond-below(mobile) {
        position: relative;
        top: -10px;
        left: 15px;
    }
}

.woocommerce {
    &-page {
        img {
            // counter default styles that are too general
            height: inherit;
        }
    }

    .woocommerce-error {
        li {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h2 {
        font-size: $font-size--xl;
        margin-bottom: 2rem;
    }

    .product {
        form.cart {
            margin-top: 2rem;
        }
    }

    form {
        margin-bottom: $spacer;

        h3 {
            font-size: $font-size--xl;
            margin-bottom: 2rem;
        }

        #order_review_heading {
            margin-top: $spacer;
        }
    }

    #coupon_code {
        width: 100%;
        max-width: 18rem;
    }

    .woocommerce-info {
        border-top-color: $primary;

        &::before {
            color: $primary;
        }
    }

    .woocommerce-MyAccount-navigation {
        li {
            margin-bottom: 1rem;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.woocommerce-wrapper {
    @include respond-above(tablet) {
        display: flex;
        width: 100%;
    }

    .woocommerce-content {
        width: 100%;
    }

    .woocommerce-result-count {
        display: flex;

        .facetwp-counts {
            margin: 0 0.7rem;
        }
    }

    aside {
        @include respond-above(tablet) {
            flex-shrink: 0;
            flex-basis: 32rem;
            padding-right: $gutter;
        }

        .widget-title {
            font-family: $font-family--primary;
            color: $color--primary;
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        .facetwp-checkbox {
            margin-bottom: 2rem;
            color: $color--primary;
            background-position: 0 2px;
            background-size: 16px;
            padding-left: 25px;

            &:hover {
                color: $color--secondary;
            }
        }
    }

    form.woocommerce-ordering {
        margin-bottom: var(--spacer);

        select {
            background: #fff;
            color: $color--primary !important;
        }

        @include respond-below(mobile) {
            width: 100%;

            select {
                width: 100%;
            }
        }
    }

    ul.products {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 4rem);
        margin: 0 -2rem;

        &.columns-3 {
            li.product {
                width: 33.3333% !important;

                @include respond-below(1140px) {
                    width: 50% !important;
                }

                @include respond-below(mobile) {
                    width: 100% !important;
                }
            }
        }

        &.columns-4 {
            li.product {
                width: 25% !important;

                @include respond-below(1140px) {
                    width: 50% !important;
                }

                @include respond-below(mobile) {
                    width: 100% !important;
                }

            }
        }

        li.product {
            padding: 0 2rem;
            margin: 0 0 5rem !important;

            .product-inner {
                position: relative;
                background: #ddd;
                height: 100%;
                padding-bottom: 4rem;

                .button {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0 !important;
                    min-height: 4rem !important;
                    font-size: 2rem !important;
                    width: 100%;

                    @include respond-below(tablet) {
                        font-size: 1.7rem !important;
                    }
                }
            }

            a.woocommerce-LoopProduct-link {
                display: block;

                &:hover {
                    h2 {
                        color: $color--secondary;
                    }
                }
            }

            .woocommerce-loop-product__title {
                font-family: $font-family--primary;
                color: $color--primary;
                padding: 0 2rem 1rem;
            }

            .price {
                font-size: 1.6rem;
                font-weight: bold;
                color: #000;
                margin: 0;
                padding: 0 2rem 2rem;
            }
        }
    }

    .woocommerce-result-count {
        color: $color--primary;
    }
}
