@use "../b-tools/global" as *;
@use "../c-critical/icons/variables" as icon;

/**
 * Buttons
 */
.button,
.button--default,
#gform_submit_button_1,
#gform_submit_button_2,
.search-submit {
    @extend %button;
    position: relative;
    padding-right: 5rem;

    @include icon(icon.$icon-arrow-right) {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
    }
}

.search-submit,
.gform_footer #gform_submit_button_1,
.gform_footer #gform_submit_button_2 {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 712 712"><path fill="%23fff"  d="M366 230.667l196 196-196 196 60 60 256-256-256-256z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 2rem center;
    background-size: 1.2rem;
}

.button--outline,
input[type="button"],
input[type="submit"]:not(.search-submit) {
    position: relative;
    @extend %button--outline;

    @include icon(icon.$icon-arrow-right) {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.button--outline {
    padding-right: $gutter-half;

    &:before {
        display: none;
    }
}

.button--link {
    @extend %button--link;
}

// Woocommerce button fix
.woocommerce-page main .button,
.woocommerce main .button {
    background: $color--primary !important;
    font-size: 1.6rem !important;
    border: 1px solid $color--primary !important;
    color: #fff !important;
    border-radius: $radius_default !important;
    padding: 0 4rem !important;
    display: inline-flex !important;
    line-height: 1.2 !important;

    &:hover {
        background-color: $color--primary !important;
    }
}
