@use "../b-tools/global" as *;

/**
 * Monkey Menu
 * Company: LabelVier
 * Author: Nathanael
 * Version: 1.3.0
 * License: MIT
 */

$menu_breakpoint: map-get($grid-breakpoints, menu);
$mmenu-base-color: $color--gray-light;

// Mobile settings
$mmenu_mobile_animation_speed: 0.3s;
$mmenu_mobile_menu_max_width: 50rem;
$mmenu_mobile_menu_bg_color: $mmenu-base-color;
$mmenu_mobile_header_bg_color: $mmenu-base-color;
$mmenu_mobile_submenu_animation_speed: 0.3s;
$mmenu_mobile_submenu_bg_color: $mmenu-base-color;
$mmenu_mobile_item_border_color: #dcdcdc;

$mmenu_mobile_item_lvl1_color: $text__color;
$mmenu_mobile_item_lvl1_bg_color: $mmenu-base-color;
$mmenu_mobile_item_lvl1_color_current: var(--color-secondary);
$mmenu_mobile_item_lvl1_bg_color_current: $mmenu-base-color;
$mmenu_mobile_item_lvl1_color_submenu_active: #fff;
$mmenu_mobile_item_lvl1_bg_color_submenu_active: var(--color-primary);
$mmenu_mobile_item_lvl1_color_current_child: var(--color-secondary);
$mmenu_mobile_item_lvl1_bg_color_current_child: $mmenu-base-color;

$mmenu_mobile_item_lvl2_color: $text__color;
$mmenu_mobile_item_lvl2_color_current: var(--color-secondary);
$mmenu_mobile_item_lvl2_bg_color: transparent;
$mmenu_mobile_item_lvl2_bg_color_current: $mmenu-base-color;

// Desktop settings
$mmenu_desktop_submenu_animation_speed: 0.3s;
$mmenu_desktop_submenu_bg_color: $mmenu-base-color;

$mmenu_desktop_item_lvl1_color: $text__color;
$mmenu_desktop_item_lvl1_color_hover: var(--color-primary);
$mmenu_desktop_item_lvl1_color_current: $text__color;
$mmenu_desktop_item_lvl1_color_current_child: var(--color-secondary);

$mmenu_desktop_item_lvl2_color: $text__color;
$mmenu_desktop_item_lvl2_color_hover: var(--color-primary);
$mmenu_desktop_item_lvl2_color_current: var(--color-secondary);
$mmenu_desktop_item_lvl2_bg_color_hover: transparent;
$mmenu_desktop_item_lvl2_bg_color_current: $mmenu-base-color;

// Default styling for the menu
body.mmenu--open {
    overflow: hidden;
}
.mmenu {
    a {
        display: block;
        text-decoration: none;
    }
    body:not(.mmenu-touch-enabled) & {
        .mmenu__item--clone-lvl1 {
            display: none;
        }
    }
}

// Menu lvl1 item underline
@mixin mmenu-item-underlined($status: default) {
    @if ($status != active) {
        display: inline-block;
        padding-bottom: 5px;

        &:after { // add nice underline
            position: relative;
            top: 0.5rem;
            background: var(--color-primary);
            display: block;
            content: "";
            height: 2px;
            width: 0%;
            margin: 0 auto;
            transition: all 0.1s ease;
            @content;
        }
    } @else if ($status == active) {
        &:after {
            background: var(--color-primary);
            width: 100%;
            @content;
        }
    }
}

// Submenu indicator
@mixin sub-menu-indicator($status: default) {
    @if ($status != active) {
        position: relative;
        &:before {
            content: "▼";
            font-weight: 600 !important;
            position: absolute;
            right: 0;
            top: 0.6rem;
            font-size: 0.8rem;
            pointer-events: none; // prevent link activation on click
            transition: all 0.3s ease;

            @content;

            @include respond-below($menu_breakpoint) {
                padding: 1rem;
                right: 2rem;
                top: 0.7rem;
                border: 1px solid rgba(#fff, 0.5);
                border-radius: 4px;
            }
        }
    } @else if ($status == active) {
        &:before {
            transform: scaleY(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
            @content;
        }
    }
}

// Add a class to the menu item to give the link a button appearance
.menu-button {
    @include respond-below($menu_breakpoint) {
        padding: 0 2rem;
    }

    a {
        @extend %button;
        display: flex !important;
        margin-top: -1.4rem;
        margin-bottom: -1rem;
        text-transform: none;
        padding: 0 3rem !important;

        @include respond-below($menu_breakpoint) {
            margin-top: 2rem;
            padding: 0 !important;
        }

        &:after {
            display: none !important;
        }
    }
}
