@use "../b-tools/global" as *;
@use "monkey-menu" as *;

// Monkey Menu - Mobile styling
.mmenu {
    @include respond-below($menu_breakpoint) {
        position: fixed;
        z-index: map-get($z-index, menu);
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: $mmenu_mobile_menu_max_width;
        background-color: $mmenu_mobile_menu_bg_color;
        transition: transform $mmenu_mobile_animation_speed ease-out;
        transform: translateX($mmenu_mobile_menu_max_width);

        .mmenu--open & {
            transform: translateX(0);
        }

        .admin-bar & {
            padding-top: var(--wp-admin--admin-bar--height);
        }

        // background menu header
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            max-width: $mmenu_mobile_menu_max_width;
            height: $fixed-header__height;
            background: $mmenu_mobile_header_bg_color;
            content: "";

            .admin-bar & {
                top: var(--wp-admin--admin-bar--height);
            }
        }

        > ul {
            margin-top: $fixed-header__height;
            padding: 2rem 0 5rem;
            height: calc(100% - #{$fixed-header__height});
            overflow: hidden;
            overflow-y: auto;
        }

        a {
            padding: 2rem 2rem;
        }

        &__item {
            &-lvl1 {
                border-bottom: 1px solid $mmenu_mobile_item_border_color;

                &:last-child {
                    border-bottom: none;
                }

                > a {
                    font-weight: bold;
                    color: $mmenu_mobile_item_lvl1_color;
                    background-color: $mmenu_mobile_item_lvl1_bg_color;
                }

                &.mmenu__item--current > a {
                    color: $mmenu_mobile_item_lvl1_color_current;
                    background-color: $mmenu_mobile_item_lvl1_bg_color_current;
                }

                &.mmenu__item--current-child > a {
                    color: $mmenu_mobile_item_lvl1_color_current_child;
                    background-color: $mmenu_mobile_item_lvl1_bg_color_current_child;
                }

                &.submenu-active {
                    > a {
                        color: $mmenu_mobile_item_lvl1_color_submenu_active;
                        background-color: $mmenu_mobile_item_lvl1_bg_color_submenu_active;
                    }
                }
            }

            &-lvl2 {
                > a {
                    color: $mmenu_mobile_item_lvl2_color;
                    background-color: $mmenu_mobile_item_lvl2_bg_color;
                    font-size: 1.6rem;
                }

                &.mmenu__item--current {
                    > a {
                        color: $mmenu_mobile_item_lvl2_color_current;
                        background-color: $mmenu_mobile_item_lvl2_bg_color_current;
                    }
                }
            }

            &--has-children {
                > a {
                    position: relative;
                    padding-right: 3rem;

                    &:after {
                        content: "+";
                        position: absolute;
                        right: 2rem;
                        top: 50%;
                        margin-top: -1rem;
                        transition: transform $mmenu_mobile_submenu_animation_speed ease-out;
                    }
                }

                &.submenu-active {
                    > a {
                        &:after {
                            transform: rotate(225deg);
                        }
                    }
                }
            }
        }

        &__sub-menu {
            height: 0;
            overflow: hidden;
            transition: height $mmenu_mobile_submenu_animation_speed ease-out;
            background: $mmenu_mobile_submenu_bg_color;
        }

        // Hamburger and Close button
        $mmenu-mobile-hamburger-animation-speed: 0.2s;
        $mmenu-mobile-hamburger-size: 3rem;
        $mmenu-mobile-hamburger-line-thickness: 0.3rem;
        $mmenu-mobile-hamburger-line-spacing: 0.7rem;
        $mmenu-mobile-hamburger-close-correction: 0.3rem;

        &__button {
            position: relative;
            z-index: map-get($z-index, menu-button);
            display: flex;
            align-items: center;
            color: $text__color;
            cursor: pointer;
            height: $mmenu-mobile-hamburger-size;

            &:before {
                position: absolute;
                left: -6rem;
                top: 0.4rem;
                margin-right: 1rem;
                content: "menu";
                font-size: 1.7rem;
                display: none;

                .mmenu--open & {
                    display: block;
                }
            }

            &-lines {
                position: relative;
                width: $mmenu-mobile-hamburger-size;

                span {
                    position: relative;
                    display: block;
                    background: $text__color;
                    height: $mmenu-mobile-hamburger-line-thickness;
                    width: $mmenu-mobile-hamburger-size;
                    transition: all $mmenu-mobile-hamburger-animation-speed ease;

                    &:nth-child(1) {
                        top: 0;
                    }

                    &:nth-child(2) {
                        margin: $mmenu-mobile-hamburger-line-spacing 0;
                        opacity: 1;
                    }

                    &:nth-child(3) {
                        bottom: 0;
                    }

                }

                .mmenu--open & {
                    span {
                        &:nth-child(1) {
                            top: $mmenu-mobile-hamburger-close-correction;
                            transform: rotate(45deg);
                        }

                        &:nth-child(2) {
                            margin: 0;
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            bottom: $mmenu-mobile-hamburger-close-correction;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        // Menu overlay
        &__overlay {
            pointer-events: none;
            position: fixed;
            z-index: map-get($z-index, menu-overlay);
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: rgba(#000, 0);
            transition: background-color 0.3s ease;

            .mmenu--open & {
                pointer-events: all;
                background-color: rgba(#000, 0.2);
                height: 100%;
            }
        }
    }
}
