@use "../b-tools/global" as *;
@use "monkey-menu" as *;

// Monkey Menu - Desktop styling
.mmenu {
    @include respond-above($menu_breakpoint) {
        position: relative;

        > ul {
            display: flex;
        }

        &__item {
            &-lvl1 {
                margin-left: 2rem;

                > a {
                    color: $mmenu_desktop_item_lvl1_color;
                    @include mmenu-item-underlined;

                    &:hover {
                        color: $mmenu_desktop_item_lvl1_color_hover;
                        @include mmenu-item-underlined(active);
                    }

                    &:focus {
                        color: var(--mmenu-desktop-item-lvl1-color-hover);
                        @include mmenu-item-underlined(active);
                    }

                }

                &.mmenu__item--current > a {
                    color: $mmenu_desktop_item_lvl1_color_current;
                    @include mmenu-item-underlined(active);
                }

                &.mmenu__item--current-child > a {
                    color: $mmenu_desktop_item_lvl1_color_current_child;
                    @include mmenu-item-underlined(active);
                }
            }

            &-lvl2 {
                a {
                    padding: 1rem 1.3rem;
                    color: $mmenu_desktop_item_lvl2_color;

                    &:hover {
                        color: $mmenu_desktop_item_lvl2_color_hover !important;
                        background-color: $mmenu_desktop_item_lvl2_bg_color_hover !important;
                    }
                    &:focus {
                        color: $mmenu_desktop_item_lvl2_color_hover !important;
                        background-color: $mmenu_desktop_item_lvl2_bg_color_hover !important;
                    }
                }

                &.mmenu__item--current {
                    > a {
                        color: $mmenu_desktop_item_lvl2_color_current;
                        background-color: $mmenu_desktop_item_lvl2_bg_color_current;
                    }
                }
            }

            &--has-children {
                position: relative;
                padding-bottom: 3rem; // to bridge the :hover submenu
                margin-bottom: -3rem;

                > a {
                    padding-right: 1.6rem;
                    @include sub-menu-indicator;
                }

                &:hover {
                    .mmenu__sub-menu {
                        z-index: 5;
                    }
                }

                &.submenu-active {
                    > a {
                        @include sub-menu-indicator(active);
                    }
                }
            }
        }

        &__sub-menu {
            position: absolute;
            top: 4.8rem;
            left: -2rem;
            width: 25rem;
            background-color: $mmenu_desktop_submenu_bg_color;
            transition: all $mmenu_desktop_submenu_animation_speed ease-in-out;
            height: 0;
            overflow: hidden;
            padding: 0;
            box-shadow: 0 3px 4px rgba(#000, 0.3);

            .submenu-active & {
                height: auto;
            }
        }
    }
}
