@use "../b-tools/global" as *;

.page {
    &-header {
        position: relative;

        &__top {
            position: fixed;
            z-index: map-get($z-index, header);
            left: 0;
            top: 0;
            width: 100%;
            background: #fff;

            .admin-bar & {
                top: var(--wp-admin--admin-bar--height);
            }

            &-inner {
                @extend %content-width;
                height: $fixed-header__height;
                display: flex;
                align-items: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                justify-content: space-between;
                transition: height 0.5s ease;

                &__logo {
                    display: flex;
                    margin-right: 2rem;
                    height: 4rem;

                    img {
                        display: block;
                        height: 100%;
                        width: auto;
                        object-fit: contain;
                    }
                }
            }
        }

        &__hero {
            display: flex;
            align-items: center;
            min-height: 50vh;
            background: $color--gray-light;

            @include respond-below(tablet) {
                min-height: 25rem;
            }

            &-content {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;

                &__header {
                    font-size: var(--font-size--xxl);
                    color: $text__color;

                    @include respond-below(tablet) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
