// First the settings and variables
@use "b-tools/global" as *;

:root {
    // To show colors in the editor
    --color-primary: #{$color--primary};
    --color-secondary: #{$color--secondary};
}

// Change some styling in ACF forms in the backend
.acf-fields {
    // Content block tweaks
    div[data-layout='text-and-image'] div.acf-field-group[data-name='image_data'] {
        background-color: #fafafa;
        .acf-fields.-border {
            background-color: transparent;
        }
    }

    // Remove the label, border and spacing from these group fields
    div.acf-field-group[data-name='options'],
    div.acf-field-group[data-name='container_options'],
    div.acf-field-group[data-name='text_data'],
    div.acf-field-group[data-name='image_data'],
    div.acf-field-group[data-name='video'] {
        padding: 0;
        border: 0 !important;
        > div.acf-label {
            display: none;
        }
    }
    div.acf-field-group[data-name='container_options'] {
        div.acf-input {
            > div {
                border-bottom: 0;

                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    div.acf-field-group[data-name='video'] {
        div.acf-field[data-name='enable_video'] {
            border-left: 0 !important;
            border-right: 0 !important;
            > .acf-label {
                display: none;
            }
        }

        // style parent .acf-fields of the video url field
        .acf-fields:has(> div.acf-field[data-name='url']) {
            border-left: 0 !important;
            border-right: 0 !important;
            border-bottom: 0 !important;
        }

        div.acf-field[data-name='url'] {
            border-left: 0 !important;
            border-right: 0 !important;
        }
    }
}

// classic editor and gutenberg custom styling
body#tinymce,
body#tinymce.wp-editor,
.block-editor-block-list__layout {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: $font-family--primary !important;
    font-size: 18px;
    color: $text__color;
    font-weight: $font-weight--primary--normal;

    a.button {
        @extend %button;
        color: #fff !important;
        min-height: 50px;
        font-size: 20px;
    }

    a.button--outline {
        @extend %button;
        min-height: 50px;
        font-size: 20px;
        background: transparent;
        color: $text__color;

        &:hover {
            background: var(--color-primary);
            color: #fff;
        }
    }

    h2, h3, h4, h5, h6 {
        //Wont work for external font imports
        font-family: $font-family--secondary;
        font-weight: $font-weight--secondary--normal;
        color: $color--primary;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    table {
        border-collapse: collapse;

        td {
            padding: 1rem;
        }
    }

    a {
        color: $link__color;
        transition: color 0.2s ease;

        &:hover,
        &:focus,
        &:active {
            color: $link__color--hover;
        }
    }

    blockquote {
        font-family: $font-family--secondary;
        border-left: 2px solid $color--primary;
        padding-left: 3rem;
        margin: 2rem 0;
        color: $color--primary;
    }
}

// Gutenberg Title custom styling
.editor-post-title {
    // Wont work for external font imports
    //font-family: $font-header__family;
    //font-weight: $font-header__weight;
}

// Gutenberg Remove h1 option
#editor .block-library-heading-level-dropdown {
    .components-toolbar-group button:first-child {
        width: 3px;
        min-width: auto;
        padding: 3px 0;
        pointer-events: none;
        visibility: hidden;
    }

    .components-popover__content {
        min-width: 191px;
    }
}

// Remove native gallery and other features from Content Media
.media-frame-menu .media-menu {
    #menu-item-gallery,
    #menu-item-playlist,
    #menu-item-video-playlist,
    #menu-item-featured-image,
    #menu-item-embed {
        display: none;
    }
}


/**
 * ACF content block preview
 */
.wp-admin {
    .acf-fc-popup {
        position: fixed;
        top: 10% !important;
        right: 10% !important;
        left: 10% !important;
        bottom: 10% !important;
        padding: 4.5rem 0.75rem 2rem;
        background: #FFF;
        border: 1px solid #C1C2C4;
        border-radius: 0;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        max-width: none;

        &:before {
            content: 'Content blokken';
            position: absolute;
            background: #FDFDFD;
            width: calc(100% - 2rem);
            left: 0;
            top: 6px;
            color: black;
            border: 0;
            padding: 1rem 1rem;
            font-size: 1.5rem;
            font-weight: 500;
            border-bottom: 1px solid #C1C2C4;
        }

        &:after {
            content: "\f158";
            font: normal 20px/1 dashicons;
            position: absolute;
            top: 1rem;
            right: 1rem;
            color: black;
            cursor: pointer;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            height: 100%;

            li {
                display: block;
                width: calc(33.33% - 1rem);
                position: relative;
                min-height: 1px;
                padding: 0 0.5rem;
                margin-bottom: 1rem;

                //flex-basis: 0;
                //flex-grow: 1;

                a {
                    color: black;
                    text-align: center;
                    padding: 0;

                    &:hover {
                        .acf-fc-tile {
                            border-color: #0c6ca0;
                        }

                        .button {
                            background: #135e96;
                            border-color: #135e96;
                        }
                    }

                    .acf-fc-tile {
                        background-color: white;
                        border: 1px solid #C1C2C4;
                        box-shadow: 0 1px 1px rgb(0 0 0 / 4%);

                        .acf-fc-figure {
                            overflow: hidden;
                            padding-bottom: 50%;
                            position: relative;
                            width: 100%;
                            height: 100%;

                            img.acf-fc-thumb {
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        .acf-fc-title {
                            background: #FDFDFD;
                            border-top: 1px solid #C1C2C4;
                            padding: 0.75rem;
                            font-size: 14px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    .acf-fc-layout-handle {
        display: flex !important;
        align-items: center;

        .acf-fc-tile {
            margin-left: 1rem;
            display: flex;
            align-items: center;

            .acf-fc-figure {
                margin-right: 0.5rem;

                .acf-fc-thumb {
                    width: 50px;
                    vertical-align: middle;
                }
            }

            .button {
                display: none;
            }
        }
    }

    .acf-preview-thumb {
        .acf-input-wrap {
            display: inline-block;
        }
    }
}

// add the header scss
h1.not-bold {
    font-weight: normal;
}
