/**
 * This file is loaded by the critical.scss file
 */

@use "../b-tools/global" as *;

:root {
    --color-primary: #{$color--primary};
    --color-secondary: #{$color--secondary};

    --font-size--s: 1.6rem;
    --font-size: 1.8rem;
    --font-size--m: 2.2rem;
    --font-size--l: 3rem;
    --font-size--xl: 4rem;
    --font-size--xxl: 6rem;

    --gutter: 5rem;
    --gutter-half: 2.5rem;

    --spacer: 2rem;
    --spacer-half: 1rem;

    --cb-spacer: 10rem;

    @include respond-below(tablet) {
        --font-size--l: 2.5rem;
        --font-size--xl: 3rem;
        --font-size--xxl: 4rem;

        --cb-spacer: 8rem;

        --gutter: 3rem;
        --gutter-half: 1.5rem;
    }

    @include respond-below(mobile) {
        --cb-spacer: 5rem;
    }
}
