@use "sass:math";
@use "sass:map";

// Theme path
$theme-path: "/wp-content/themes/labelvier"; // #{$theme-path}
$fonts-path: "#{$theme-path}/dist/fonts"; // url("#{fonts-path}");
$images-path: "#{$theme-path}/dist/images"; // url("#{$images-path}");

// Default colors
$color--primary: #c21111;
$color--secondary: #527a52;
$color--gray-light: #f4f4f4; // Is used for CB background color
$color--gray-dark: #333; // Is used for CB background color

// Typography
$font-family--primary: Verdana, sans-serif;
$font-weight--primary--normal: normal;
$font-weight--primary--bold: bold;

$font-family--secondary: Verdana, sans-serif;
$font-weight--secondary--normal: normal;
$font-weight--secondary--bold: bold;

$text__color: #333;
$font__line-height: 1.6;

$title__font-family: $font-family--secondary;
$title__font-color: $color--primary;

// Image ratios
$image__ratio_default: 56.25%;

$font-size--s: var(--font-size--s);
$font-size: var(--font-size);
$font-size--m: var(--font-size--m);
$font-size--l: var(--font-size--l);
$font-size--xl: var(--font-size--xl);
$font-size--xxl: var(--font-size--xxl);

// Links
$link__color: $color--primary;
$link__color--hover: $color--secondary;
$link__color--visited: $text__color;

// Form input
$input__text-color: $text__color;
$input__border-color: silver;
$input__border-color--focus: gray;
$input__background-color: #ccc;

// Site gutters and spacers
$content_max-width: 120rem; // !! Add px variation to desktop breakpoint below
$dynamic-sizer: calc((100vw - #{$content_max-width}) / 2); // add spacing left or right to align content at full width

// Misc
$fixed-header__height: 8rem;
$fixed-header__height--sticky: 5rem;
$radius_default: 0; // Default border radius

// Icons (variables used by icomoon styling addon)
$icomoon-font-family: "icomoon";
$icomoon-font-path: "#{$fonts-path}";

// Z-Index Control
// use: map-get($z-index, header);
$z-index: (
    header : 50,
    facetFilter : 60,
    menu-overlay: 97,
    menu: 98,
    menu-button: 99,
    popup : 100
);

// Breakpoints
$grid-breakpoints: (
    mobile: 576px + 1,
    menu: 768px + 1, // Also change in js/components/monkeyMenu.js
    tablet: 768px + 1,
    desktop: 1200px, // content_max-width
    hd: 1280px + 1, // HD
    hdp: 1600px + 1, // HD+
    fhd: 1920px + 1, // Full HD
    4k: 3840px + 1, // 4K
    8k: 7680px + 1, // 8K
) !default;

// Grid settings
$grid-columns: 12 !default;

$grid-auto-breakpoints: (
    mobile: map.get($grid-breakpoints, 'mobile'),
    tablet: map.get($grid-breakpoints, 'tablet'),
    desktop: map.get($grid-breakpoints, 'desktop'),
) !default;

// CSS variables as SASS variables
$gutter: var(--gutter); // Spacing between elements like columns
$gutter-half: var(--gutter-half); // Spacing / 2 between elements like columns
$spacer: var(--spacer); // Vertical spacing in content
$spacer-half: var(--spacer-half); // Vertical spacing / 2 in content
$cb-spacer: var(--cb-spacer); // Vertical spacing between Content Blocks
