@use "../b-tools/global" as *;

// if .u-max-width--small, or .u-max-width--medium is set, add styling to parent container
.o-container--wrapper:has(.u-max-width--medium),
.o-container--wrapper:has(.u-max-width--small) {
    margin: 0 auto;
    max-width: $content_max-width;
}

.cb {
    padding: $cb-spacer 0;
    overflow: hidden;

    &__heading-title {
        color: $title__font-color;
        font-size: $font-size--xxl;
        margin-bottom: $gutter;
        line-height: 1;

        span {
            color: $color--primary;
        }
    }

    &-anchor {
        pointer-events: none;
        position: relative;
        top: -($fixed-header__height + 3rem);
    }

    .icon-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 10rem;
        color: #fff;
    }

    &__image {
        position: relative;

        .icon-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-size: 10rem;
            color: #fff;
        }
    }

    &__content {
        &__title {
            margin-bottom: $spacer;
            font-size: $font-size--xxl;
            color: $title__font-color;
            line-height: 1.1;
        }

        &__buttons {
            margin-top: $gutter;

            a {
                margin-top: $gutter;
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .o-container {
        &.u-align--left {
            @include respond-above(desktop) {
                margin-left: calc((100vw - #{$content_max-width}) / 2 - #{$gutter-half});
            }
        }

        &.u-align--right {
            @include respond-above(desktop) {
                margin-right: calc((100vw - #{$content_max-width}) / 2 - #{$gutter-half});
            }
        }
    }
}

// Content Block background colors
// Add new variables below and in the ACF group "U - Background colours"
// (dark, #333, true)
// First is the name of the color like it is in the ACF selector
// Second is the hex value for the background color
// Third is an indicator for if the text should be white because of the dark background
$cb_bg_colors: (default, #fff, false),
        (white, #fff, false),
        (gray-dark, $color--gray-dark, true),
        (gray-light, $color--gray-light, false);

@each $name, $color, $invert in $cb_bg_colors {
    .cb-bg-color--#{"" + $name} {
        background: $color;
    }
    .cb-bg-color--#{"" + $name} + .cb-bg-color--#{"" + $name} {
        padding-top: 0 !important;
    }
    @if ($invert) {
        .cb-bg-color--#{"" + $name} {
            h1, h2, h3, h4, h5, h6, p, div, .button, .button--outline, .button--default {
                border-color: #fff !important;

                &, span {
                    color: #fff;
                }
            }
        }
        .cb-bg-color--#{"" + $name} .wysiwyg-styling h2,
        .cb-bg-color--#{"" + $name} .wysiwyg-styling h3,
        .cb-bg-color--#{"" + $name} .wysiwyg-styling h4 {
            color: var(--color-primary);
        }
    }
}

// Fix padding for adjacent blocks with the same background color
.cb-bg-color--default + .cb-bg-color--white,
.cb-bg-color--white + .cb-bg-color--default {
    padding-top: 0 !important;
}
