@use "../b-tools/global" as *;

%input {
    color: $input__text-color;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 1rem;
    min-height: 4rem !important;
    background: silver;

    &::placeholder {
        color: silver;
    }

    &:focus {
        color: $input__border-color--focus;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
    @extend %input;
}

textarea {
    width: 100%;
}
