@use "../b-tools/global" as *;

.pagination {
  text-align: center;

  span, a {
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 1.6rem;
    border: 1px solid $color--primary;
    color: $color--primary;
    margin: 0 0.5rem;

    &.current,
    &:hover {
      background: $color--primary;
      color: #fff;
    }
    &.prev {
      content: '<'
    }
    &.next {
      content: '>'
    }
  }
}
