@use "../b-tools/global" as *;

/**
 * Popup
 * Also used for cookie preferences
 * Example

    <div class="popup">
        <div class="popup__overlay"></div>
        <div class="popup__inner">
            <div class="popup__inner-content wysiwyg-styling"></div>
            <div class="popup__inner-actions"></div>
        </div>
    </div>

 */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: map-get($z-index, popup);
    background: rgba(#000, 0.7);

    &__inner {
        align-items: center;
        max-width: 65rem;
        margin: 2rem auto;
        background: white;
        color: $text__color;
        padding: 4rem;
        box-shadow: 2px 1px 14px -5px rgb(0 0 0 / 40%);
        width: calc(100% - 4rem);
        max-height: calc(100% - 4rem);
        @extend %invisible-scrollbar;

        &-actions {
            flex-shrink: 0;
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;

            a,
            button {
                margin-left: 2rem;
                margin-top: 2rem;
            }
        }
    }

    &--bottom-right {
        position: relative;
        width: 0;
        height: 0;

        .popup__inner {
            position: fixed;
            bottom: 0;
            right: 0;
            width: calc(100% - 4rem);
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }
}
