@use "sass:color";
@use "../b-tools/global" as *;

.post {
    position: relative;
    margin-bottom: $spacer;
    border-radius: $radius_default;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);

    &__link {
        @extend %link-layover;
    }

    &__image {
        background: #fafafa;
    }

    &__content {
        position: relative;
        padding: 2rem 2rem 2rem 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &-header {
            margin-bottom: 1rem;

            span {
                color: inherit;
            }
        }

        &-text {
            line-height: 1.5;
            margin-bottom: 2rem;
        }

        &-link {
            margin-top: auto;
            width: fit-content;
        }
    }

    // if has link than add hover effect
    &--hover {
        &:hover {
            .post__image {
                transform: scale(1.05);
            }
            .post__content-link {
                background-color: color.adjust($color--primary, $lightness: -15%);
                color: #fff;
            }
        }
    }
}
