@use "../b-tools/global" as *;

.socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: $spacer 0;

    &-title {
        font-family: $font-family--secondary;
        font-size: var(--font-size--m);
        color: inherit;
        margin-bottom: 1rem;
    }

    a {
        display: inline-block;
        color: inherit;
        text-decoration: none !important;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        font-size: 4rem;
        margin-right: $gutter-half;

        &:hover {
            opacity: 0.8;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
