@use "../b-tools/global" as *;

/**
 * Pure CSS toggle
 * Also used for cookie preferences
 * Example

    <div class="toggle">
        <input class="toggle__input" type="checkbox" id="unique-id">
        <label class="toggle__label" for="unique-id">
            <div class="toggle__label-check"></div>
            <div class="toggle__label-content">Tekst checkbox</div>
        </label>
    </div>
 */

.toggle {
    &__input {
        display: none;
    }

    &__label {
        display: flex;
        cursor: pointer;
        margin-bottom: 1rem;

        &-check {
            position: relative;
            border: 1px solid black;
            width: 2rem;
            height: 2rem;
            margin-top: 0.4rem;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                top: 0.3rem;
                left: 0.3rem;
                width: 1.2rem;
                height: 1.2rem;
                background: $color--primary;
                display: none;
            }
        }

        &-content {
            max-width: 100%;
            flex-basis: 0;
            flex-grow: 1;
            margin-left: 1.5rem;
        }
    }
}

.toggle__input:checked~.toggle__label .toggle__label-check {
    border: 1px solid $color--primary;

    &:after {
        display: block;
    }
}

