@use "../b-tools/global" as *;

/* == WordPress and Gutenberg WYSIWYG Editor Styles == */
.wysiwyg-styling {
    h2 {
        font-size: $font-size--l;
        margin: 4rem 0 2rem;
    }

    h3 {
        font-size: $font-size--m;
        margin: 4rem 0 1rem;
    }

    h4, h5, h6 {
        font-size: $font-size--m;
        margin: 4rem 0 0.5rem;
    }

    h2, h3, h4, h5, h6 {
        color: $color--primary;

        &:first-child {
            margin-top: 0;
        }
    }

    ul:not(.blocks-gallery-grid), ol {
        //padding-left: 2.5rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ol {
        padding: 0 0 0 2rem;
    }

    li {
        margin-bottom: 1rem;
        padding-left: 1rem;
        line-height: $font__line-height;
    }

    ul {
        li {
            position: relative;
            padding-left: 3rem;

            &:before {
                font-family: $font-family--secondary;
                content: '.';
                position: absolute;
                font-size: 6rem;
                line-height: 0;
                top: -0.2rem;
                left: 0;
            }
        }
    }

    a:not(.button):not(.wp-element-button) {
        color: $link__color;
        transition: color 0.2s ease;

        &.button, &.button--outline {
            color: #fff !important;
        }

        &:visited {
            color: $link__color--visited;
        }

        &:hover,
        &:focus,
        &:active {
            color: $link__color--hover;
        }

        &:focus {
            outline: thin dotted;
        }

        &:hover,
        &:active {
            outline: 0;
        }
    }

    .wp-element-button {
        @extend %button;
    }

    p {
        margin-bottom: 1.5em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    dfn, cite, em, i {
        font-style: italic;
    }

    blockquote {
        font-family: $font-family--secondary;
        font-weight: $font-weight--secondary--bold;
        font-size: $font-size--m;
        border-left: 2px solid $color--primary;
        padding-left: 5rem;
        margin: 5rem 0;
        color: $color--primary;

        p {
            line-height: 1.2;
        }

        cite {
            display: inline-block;
            margin-top: 1rem;
        }
    }

    blockquote.left {
        margin-right: 20px;
        text-align: right;
        margin-left: 0;
        width: 33%;
        float: left;
    }

    blockquote.right {
        margin-left: 20px;
        text-align: left;
        margin-right: 0;
        width: 33%;
        float: right;
    }

    table {
        border-collapse: collapse;

        td {
            padding: 1rem;
        }
    }

    p img {
        margin: 0 0 $gutter 0;
    }

    > figure {
        margin: 0 0 $spacer;
        max-width: 100%;

        figcaption {
            font-size: $font-size--s;
        }

        iframe {
            width: 100%;
        }
    }

    .wp-block-embed {
        &.is-type-video {
            margin: $cb-spacer auto;
            max-width: $content_max-width;
            width: 100%;

            .wp-block-embed__wrapper {
                position: relative;
                padding-bottom: 56.25%; // 16:9 aspect ratio
                height: 0;
                overflow: hidden;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .alignleft, img.alignleft {
        margin-right: $gutter !important;
        display: inline !important;
        float: left;
    }

    .alignright, img.alignright {
        margin-left: $gutter !important;
        display: inline !important;
        float: right;
    }

    .aligncenter, img.aligncenter {
        margin-right: auto !important;
        margin-left: auto !important;
        display: block;
        clear: both;
    }

    // small bugfix for .blocks-gallery-item__caption
    .blocks-gallery-grid .blocks-gallery-item figure {
        display: inline-block !important;
    }

    // Gutenberg color options
    // !see editor-color-palette in functions.php
    $colors: (primary, $color--primary),
            (secondary, $color--secondary),
            (orange, #FFBC49),
            (red, #E2574C);

    // Color Options generator
    @each $name, $color in $colors {
        .has-#{"" + $name}-color {
            color: $color;
        }
        .has-#{"" + $name}-background-color {
            background-color: $color;
        }
    }
}
