.wpcf7 {
    label {
        font-weight: bold;
    }

    input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
        width: 100%;
        max-width: 50rem;
    }

    form .wpcf7-response-output {
        margin: 2rem 0;
    }

    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        @extend %button;
    }
}
