.facetwp {
    &-dropdown {
        padding: 1rem;
        border-radius: $radius_default;
        min-height: 5rem;
        width: 100%;
    }

    &__selections {
        &--wrapper {
            position: relative;
            z-index: 1;
            min-height: 5rem;
            margin: 2rem 2rem -5rem;
            width: calc(100% - 15rem);

            @include respond-below(tablet) {
                width: 100%;
                padding-left: 12rem;
                margin: 2rem 0 -7rem;
            }
            li {
                margin-bottom: 1rem;
            }
        }
    }

    &-facet {
        margin-bottom: 0 !important;

        &.facetwp-facet-search {
            .facetwp-input-wrap {
                width: 100%;

                input {
                    padding: 1rem;
                    width: 100%;
                    font-size: 1.8rem;
                    min-height: 5rem;
                }

                .facetwp-icon {
                    opacity: 1;
                }
            }
        }
    }

    &__filter {
        background: $color--secondary;
        padding: 2rem;

        input[type='text'] {
            background-color: $color--secondary;
            border-color: $color--secondary;
            padding: 1rem;
        }
        &__header {
            color: $font__color;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color--secondary;
        }

        &-block {
            margin-bottom: 3rem;
            &__header {
                font-family: $font-primary__family;
                font-size: $font--size;
                margin-bottom: 1rem;
            }
            &--search {
                margin-top: 2rem;
                input {
                    width: 100%;
                }
            }
            &--dates > div {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                width: 100%;
                span {
                    width: 4rem;
                    flex-shrink: 0;
                }
                input {
                    width: 100%;
                }
            }
        }
    }
    &-checkbox {
        margin-bottom: 1rem !important;
    }
}

.facetwp-selections {
    ul {
        @extend %list-reset;
    }
}
.facetwp-selection {
    &-label {
        display: none;
    }
    &-value {
        border-radius: $radius_default;
        color: silver;
        border: 1px solid silver;
        font-size: 1.7rem;
        padding: 0.8rem 1rem 0.8rem 3rem !important;
        //background-image: url("#{$theme-path}/dist/images/icon-close.png") !important;
        background-position: 10px center !important;
        &:hover {
            border-color: $color--primary;
        }
        @include respond-below(mobile) {
            font-size: 1.4rem;
        }
    }
}

/**
 * Flyout function for tablet and below filtering
 */
body.flyout-filter--active {
    overflow: hidden;
}
.flyout-filter {
    &__overlay {
        display: none;
        position: fixed;
        z-index: map-get($z-index, facetFilter);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
        .flyout-filter--active & {
            display: block;
        }
    }
    &--toggle {
        position: relative;
        z-index: 1;
        padding: 1rem 2rem;
        margin: 2rem 0 -3.5rem 0.5rem;
    }
    &--close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 3rem;
    }
    @include respond-below(tablet) {
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        padding-top: 4rem;
        padding-bottom: 5rem;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        transform: translate(-100%);
        transition: transform 0.2s ease-out;
        box-shadow: none;

        .admin-bar & {
            top: 46px;
        }
        .flyout-filter--active & {
            transform: translate(0);
        }
    }
}
