//.gform_wrapper {
//    max-width: 100rem;
//    margin: 0 auto $gutter 0;
//
//    .gform_description {
//        display: block;
//    }
//
//    ul, ol {
//        @extend %list-reset;
//    }
//
//    li {
//        margin-bottom: 2rem;
//    }
//
//
//    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
//        width: 100%;
//    }
//
//    .gform_heading {
//        margin-bottom: $gutter-half;
//    }
//    .gfield {
//        margin-bottom: $gutter-half;
//    }
//    .hidden_label label.gfield_label {
//        display: none !important;
//    }
//    label.gfield_label {
//        font-family: $font-secondary__family;
//        margin-bottom: 1rem;
//        display: block;
//    }
//
//    .gfield_checkbox {
//        li {
//            display: flex;
//
//            input {
//                width: auto;
//                margin: 0.6rem 1rem;
//            }
//        }
//    }
//    .ginput_container_select {
//        position: relative;
//        height: 5.1rem;
//        border-bottom: 1px solid $input__border-color;
//        transition: border-color 0.3s ease;
//        &:hover {
//            border-color: #000;
//        }
//        select {
//            position: relative;
//            height: 100%;
//            outline: none;
//        }
//    }
//    .ginput_container_multiselect {
//        border-bottom: 1px solid $input__border-color;
//        transition: border-color 0.3s ease;
//        &:hover {
//            border-color: #000;
//        }
//    }
//    .gfield_description {
//        font-size: 1.4rem;
//        padding-top: 1rem;
//
//        &.validation_message {
//            .gfield_error & {
//                color: red;
//            }
//        }
//    }
//
//    .validation_error {
//        background: rgba(red, 0.3);
//        padding: $gutter-half;
//        color: #fff;
//    }
//
//    .gfield_error {
//        input {
//            border-color: red;
//        }
//
//        .validation_message {
//            color: red;
//        }
//    }
//    input[type="button"],
//    input[type="reset"],
//    input[type="submit"] {
//        @extend %button;
//    }
//}
