.swiper {
    opacity: 0;
    transition: opacity 0.2s ease;

    &-initialized {
        opacity: 1;
    }

    &-pagination {
        position: absolute;
        bottom: 0;

        &-bullet {
            border: 2px solid $color__primary;
            width: 1.4rem;
            height: 1.4rem;
            background-color: $color__primary;
            margin: 0 0.5rem !important;

            &-active {
                background-color: $color__primary;
            }
        }
    }
}
