@use "../../b-tools/global" as *;

/**
 * When using local fonts
 * Place the fonts in a folder like /src/fonts
 * And here add #{$fonts-path} to the urls, like shown in the example below
 * (= #{$theme-path}/dist/fonts)
 */

//@font-face {
//  font-family: 'nowayregular';
//  src: url('#{$fonts-path}/noway-regular-webfont.eot');
//  src: url('#{$fonts-path}/noway-regular-webfont.eot?#iefix') format('embedded-opentype'),
//  url('#{$fonts-path}/noway-regular-webfont.woff2') format('woff2'),
//  url('#{$fonts-path}/noway-regular-webfont.woff') format('woff'),
//  url('#{$fonts-path}/noway-regular-webfont.ttf') format('truetype'),
//  url('#{$fonts-path}/noway-regular-webfont.svg#nowayregular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
