@use "../../b-tools/global" as *;

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: $font-family--primary;
    font-size: $font-size;
    font-weight: $font-weight--primary--normal;
    color: $text__color;
    background: #fff;

    // ensures footer is always at the bottom of the page
    display: flex;
    flex-direction: column;

    &.admin-bar {
        min-height: calc(100vh - var(--wp-admin--admin-bar--height));
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title__font-family;
    font-weight: $font-weight--secondary--bold;
    margin: 0;
    line-height: normal;
    word-break: break-word;
    hyphens: auto;
}

p {
    line-height: $font__line-height;
    margin: 0;
}

a {
    color: inherit;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 $font-size;
}

pre {
    margin-bottom: $font-size;
    max-width: 100%;
    overflow: auto;
    padding: $font-size;
}

code, kbd, tt, var {
    font-size: 1.3rem;
}

abbr, acronym {
    border-bottom: 1px dotted gray;
    cursor: help;
}

mark, ins {
    text-decoration: none;
}

big {
    font-size: 125%;
}

