.swiper {
    --swiper-theme-color: red; // needs a hex value for svg fill

    width: 100%;
    min-height: 20rem;

    &-container {
        opacity: 0;
        transition: opacity 0.2s ease;

        &.swiper-initialized {
            opacity: 1;
        }
    }
}
