/**
 * Flyout function for filtering on tablet and below
 */
body.flyout-filter--active {
    overflow: hidden;
}

.flyout-filter {
    &__header {
        text-align: right;
        margin-bottom: $spacer;
    }

    &__overlay {
        display: none;
        position: fixed;
        z-index: map-get($z-index, facetFilter);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;

        .flyout-filter--active & {
            display: block;
        }
    }

    &--toggle {
        position: relative;
        z-index: 1;
        padding: 1rem 2rem;
        margin: 2rem 0 -3.5rem 0.5rem;
    }

    &--close {
        cursor: pointer;
        width: 100%;
        margin-top: auto;
    }

    .button-wrapper {
        display: none;
    }

    @include respond-below(tablet) {
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        height: calc(100% - 4rem);
        overflow: hidden;
        overflow-y: auto;
        transform: translate(-100%);
        transition: transform 0.2s ease-out;
        padding: 2rem;
        box-shadow: none;
        background: #fff;
        width: 100%;
        max-width: 50rem;
        display: flex;
        flex-direction: column;

        .admin-bar & {
            top: var(--wp-admin--admin-bar--height);
        }
        .flyout-filter--active & {
            transform: translate(0);
        }

        .button-wrapper {
            display: block;
        }
    }
}
