.facetwp-facet {

    .facetwp-icon {
        @extend %button;
        opacity: 1;
        right: 0.3rem;
        top: 0.3rem;
        height: calc(100% - 0.6rem);
        min-height: initial;
        padding: 0.5rem 0.75rem;

        &:before {
            content: "\e91c";
            font-family: '#{$icomoon-font-family}';
            background: none;
            font-size: 2.5rem;
            width: initial;
            height: initial;
        }
    }

    .facetwp-checkbox {
        position: relative;
        background: none;
        padding-left: 30px;
        line-height: 1.5;
        margin-bottom: 0.75rem;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 17px;
            height: 17px;
            border: 2px solid $color--primary;
            border-radius: 5px;
            background: white;
        }

        &.checked {
            background-image: none;

            &:before {
                background: $color--primary;
            }
        }
    }
}