/** CSS ONLY!
 * This .css is used as Content block as well as Gutenberg which includes this file as well
*/

.container {
    display:block;
    margin: 3rem 0;
}

@media (max-width:767px) {
    .container {
        width:100%;
    }
}

#before-after-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 240px;
}

@media (min-width: 400px) {
    #before-after-slider  {
        height: 350px;
    }
}

@media (min-width: 768px) {
    #before-after-slider  {
        height: 500px;
    }
}

#before-image,
#after-image {
    width: 100%;
    height: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    overflow: hidden;
}

#before-image {
    width: 50%;
    left: 0;
    right: 50%;
    z-index: 2;
    border-right: 2px solid white;
}

#after-image {
    display: block;
    width: 100%;
    right: 0;
}


#before-image img,
#after-image img {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    max-width: inherit;
}

#resizer {
    position:absolute;
    display:flex;
    align-items:center;
    z-index:5;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    transform: translate3d(-50%, -50%, 0);
    color: #E83426;
    background: rgba(255, 255, 255, 1);
    width: 60px;
    height: 60px;
    /*Stop vertical scrolling on touch*/
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    border-radius: 50%;
    cursor: pointer;
}

#resizer:before, #resizer:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    border-top: solid 1px;
    border-left: solid 1px;
    transform-origin: 0 0;
}

#resizer:before {
    left: 13px;
    transform: rotate(-45deg);
}

#resizer:after {
    right: -2px;
    transform: rotate(135deg);
}

