@use "../../b-tools/global" as *;
@use "variables" as icon;

@font-face {
  font-family: '#{icon.$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?12r95h');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?12r95h#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?12r95h') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?12r95h') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?12r95h##{icon.$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit {
  &:before {
    content: icon.$icon-edit;
  }
}
.icon-play-arrow {
  &:before {
    content: icon.$icon-play-arrow;
  }
}
.icon-play {
  &:before {
    content: icon.$icon-play;
  }
}
.icon-email {
  &:before {
    content: icon.$icon-email;
  }
}
.icon-clear {
  &:before {
    content: icon.$icon-clear;
  }
}
.icon-chevron-down {
  &:before {
    content: icon.$icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: icon.$icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: icon.$icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: icon.$icon-chevron-up;
  }
}
.icon-arrow-left {
  &:before {
    content: icon.$icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: icon.$icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: icon.$icon-arrow-up;
  }
}
.icon-arrow-down {
  &:before {
    content: icon.$icon-arrow-down;
  }
}
.icon-phone {
  &:before {
    content: icon.$icon-phone;
  }
}
.icon-youtube {
  &:before {
    content: icon.$icon-youtube;
  }
}
.icon-youtube-square {
  &:before {
    content: icon.$icon-youtube-square;
  }
}
.icon-linkedin {
  &:before {
    content: icon.$icon-linkedin;
  }
}
.icon-linkedin-square {
  &:before {
    content: icon.$icon-linkedin-square;
  }
}
.icon-facebook-square {
  &:before {
    content: icon.$icon-facebook-square;
  }
}
.icon-facebook {
  &:before {
    content: icon.$icon-facebook;
  }
}
.icon-search {
  &:before {
    content: icon.$icon-search;
  }
}
.icon-x {
  &:before {
    content: icon.$icon-x;
  }
}
.icon-tiktok {
  &:before {
    content: icon.$icon-tiktok;
  }
}
.icon-pinterest {
  &:before {
    content: icon.$icon-pinterest;
  }
}
.icon-twitter {
  &:before {
    content: icon.$icon-twitter;
  }
}
.icon-whatsapp {
  &:before {
    content: icon.$icon-whatsapp;
  }
}
.icon-facebook-round {
  &:before {
    content: icon.$icon-facebook-round;
  }
}
.icon-instagram {
  &:before {
    content: icon.$icon-instagram;
  }
}
.icon-telegram {
  &:before {
    content: icon.$icon-telegram;
  }
}
.icon-signal {
  &:before {
    content: icon.$icon-signal;
  }
}

