@use "sass:string";

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-edit: string.unquote('"\\e91a"');
$icon-play-arrow: string.unquote('"\\e919"');
$icon-play: string.unquote('"\\e900"');
$icon-email: string.unquote('"\\e91b"');
$icon-clear: string.unquote('"\\e901"');
$icon-chevron-down: string.unquote('"\\e902"');
$icon-chevron-left: string.unquote('"\\e903"');
$icon-chevron-right: string.unquote('"\\e906"');
$icon-chevron-up: string.unquote('"\\e909"');
$icon-arrow-left: string.unquote('"\\e90f"');
$icon-arrow-right: string.unquote('"\\e911"');
$icon-arrow-up: string.unquote('"\\e91c"');
$icon-arrow-down: string.unquote('"\\e91e"');
$icon-phone: string.unquote('"\\e91d"');
$icon-youtube: string.unquote('"\\e915"');
$icon-youtube-square: string.unquote('"\\e916"');
$icon-linkedin: string.unquote('"\\e90d"');
$icon-linkedin-square: string.unquote('"\\e912"');
$icon-facebook-square: string.unquote('"\\e913"');
$icon-facebook: string.unquote('"\\e914"');
$icon-search: string.unquote('"\\e90e"');
$icon-x: string.unquote('"\\e918"');
$icon-tiktok: string.unquote('"\\e917"');
$icon-pinterest: string.unquote('"\\e90a"');
$icon-twitter: string.unquote('"\\e90b"');
$icon-whatsapp: string.unquote('"\\e90c"');
$icon-facebook-round: string.unquote('"\\e904"');
$icon-instagram: string.unquote('"\\e905"');
$icon-telegram: string.unquote('"\\e907"');
$icon-signal: string.unquote('"\\e908"');
